<style type="text/css">
body {
    background-image: url('/images/totoro.jpg');
    background-attachment: fixed;
}
</style>

<div class="">
    <div class="greeting">
        <% if (currentUser) { %>
            <h1 class="greeting_txt">Welcome to the Studio Ghibli Forums <%= currentUser.name %>!</h1>
        <% } else { %>
            <h1 class="greeting_txt">Welcome to the Studio Ghibli Forums, Login or Register to participate!</h1>
        <% } %>
    </div>
    <div class="main-grid">
        <% result.forEach(function(film) { %>
            <div class="grid-item"> 
                <h4 class="underline">
                    <a href="/film/<%= film.id %>"><%= film.title %></a>
                </h4>
                <p>
                    <strong>Released: <%= film.release_date %><br> Rotten Tomatos Score: <%= film.rt_score %></strong>
                </p>
                <form method="POST" action="/film">
                    <input hidden type="text" name="title" value="<%= film.title %>">
                    <input hidden type="text" name="filmId" value="<%= film.id %>">
                    <button class="btn btn-secondary" type="submit">Add to Favorite Films</button>
                </form>
            </div>
        <% }) %>
    </div>
</div>