<style type="text/css">
body {
    background-image: url('/images/totoro.jpg');
    background-attachment: fixed;
}
</style>



<h1>Login or Register to participate!</h1>
<div class="container">
    <div class="row row-cols-5 p-0">
        <% result.forEach(function(film) { %>
            <div class="well col mb-3 mx-1 mx-auto main_bkrd"> 
                <h4>
                    <a href="/film/<%= film.id %>"><%= film.title %></a>
                </h4>
                <p>
                    <strong>Released: <%= film.release_date %><br> Rotten Tomatos Score: <%= film.rt_score %></strong>
                </p>
                <form method="POST" action="/film">
                    <input hidden type="text" name="title" value="<%= film.title %>">
                    <input hidden type="text" name="filmId" value="<%= film.id %>">
                    <button class="btn btn-secondary" type="submit">Add to Favorite Films</button>
                </form>
            </div>
        <% }) %>
    </div>
</div>