<style type="text/css">
    body {
        background-image: url('/images/bestone.jpg');
        background-attachment: fixed;
    }
    .txt{
        text-align: center;
        text-shadow:1px 1px 1px black;
        color: white;
    }
    div {
        text-align: center;
    }
</style>

<h2 class="txt">Hi <%= currentUser.name %>. Here is a list of the films you have added to favorites!</h2>
<% films.forEach(function(film) { %>
    <div>
        <h2 class="txt"> <%= film.name %> </h2>
        <form method="GET" action="/film/<%= film.filmId %>">
            <button class="btn btn-outline-dark" type="submit">Show more detail</button>
        </form>
        <form method="POST" action="/film/<%= film.filmId %>/?_method=DELETE">
            <button class="btn btn-outline-dark" type="submit">Remove from favorites</button>
        </form>
    </div>
<% }) %>
<h3 class="txt">Your Discussions:</h3>
<% discussions.forEach(function(d) { %>
    <div>
        <h2 class="txt"><%= d.title %></h2>
        <form method="GET" action="/discussion/<%= d.id %>/edit">
            <button class="btn btn-outline-dark" type="submit">Edit your discussion</button>
        </form>
    </div>
<% }) %>