<h2>Hi <%= currentUser.name %>. Here is a list of the films you have added to favorites!</h2>
<% films.forEach(function(film) { %>
    <div>
        <h2> <%= film.name %> </h2>
        <form method="GET" action="/film/<%= film.filmId %>">
            <button class="btn btn-primary" type="submit">Show more detail</button>
        </form>
        <form method="POST" action="/film/<%= film.filmId %>/?_method=DELETE">
            <button class="btn btn-primary" type="submit">Remove from favorites</button>
        </form>
    </div>
<% }) %>
<h3>Your Discussions:</h3>
<% discussions.forEach(function(d) { %>
    <div>
        <h2><%= d.title %></h2>
        <form method="GET" action="/discussion/<%= d.id %>/edit">
            <button class="btn btn-primary" type="submit">Edit your discussion</button>
        </form>
    </div>
<% }) %>