<style type="text/css">
    body {
        background-image: url('/images/leftcity.png');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="discussion_div">
    <h1 class="d_title">Title: <%= result.title %></h1>
    <p class="film_desc">Description:  <%= result.description %></p>
    <p class="">Directed by: <%= result.director %></p>
    <p class="">Producer: <%= result.producer %></p>
    <p class="">Release Date: <%= result.release_date %></p>
    <p class="">Rotten Tomatos Score: <%= result.rt_score %></p>
</div>

